:root{
    --bg-color: #7952b320;
    --text-color: #212529;
    --primary-color: #7952b3;
    --secondary-color: #e9d8fd;
    --card-color: #ffffff;
    --navbar-color: #7952b3;
    --footer-color: #7952b3;
    --border-color: #d6d6d6;
}

.dark-theme{
    --bg-color: #121212ca;
    --text-color: #f8f9fa;
    --primary-color: #9b7ede;
    --secondary-color: #2d1b4e;
    --card-color: #1e1e1e;
    /* --navbar-color: #1b1530; */
    --footer-color: #1b1530;
    --border-color: #444444;
}
body {
background: var(--bg-color, #ffffff); /* Added a fallback color just in case */
font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-weight: 400;/* Adjust weight as needed between 100 and 900 */
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

.bg_col{
    background-color: var(--secondary-color);
}
/* 
.body_col{
    
} */

.nav_bg_color{
    background-color: var(--navbar-color);
    z-index: 1000;
}

.footer-col{
    background-color: var(--footer-color);
}

.card-custom{
    background-color: var(--card-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
/* 
.accordion-item,
.accordion-button{
    background-color: var(--card-color);
    color: var(--text-color);
} */

.btn-custom{
    background-color: var(--primary-color);
    color: white;
}

.cls_letter_spacing{
    letter-spacing: 2px;
}

#Brand{
    font-size: 100px;
}
.text_col
{
    color: var(--text-color);
}

.dark-theme .theme-icon {
  filter: invert(1);
}

.dark-theme .theme-icon-cap {
  filter: invert(1);
}

.status-select{
    width:0;
    opacity:0;
    overflow:hidden;
    transition:all .3s ease;
}

.status-select.show{
    width:180px;
    opacity:1;
}

@media screen and (and-width: 768px) {
  #mentorDetailsCard {
    width: 90%; /* Leaves a nice little breathing room on the edges */
  }
}