:root{
    --bg-color: #7952b320;
    --text-color: #212529;
    --primary-color: #7952b3;
    --secondary-color: #e9d8fd;
    --card-color: #ffffff;
    --navbar-color: #7952b3;
    --footer-color: #7952b3;
    --border-color: #d6d6d6;
}

.dark-theme{
    --bg-color: #121212;
    --text-color: #f8f9fa;
    --primary-color: #9b7ede;
    --secondary-color: #2d1b4e;
    --card-color: #1e1e1e;
    /* --navbar-color: #1b1530; */
    --footer-color: #1b1530;
    --border-color: #444444;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; 
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
    transition: 0.3s;
}

.bg_col{
    background-color: var(--secondary-color);
}

.body_col{
    background: var(--bg-color);
}

.nav_bg_color{
    background-color: var(--navbar-color);
    z-index: 1000;
}

.footer-col{
    background-color: var(--footer-color);
}

.card-custom{
    background-color: var(--card-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
/* 
.accordion-item,
.accordion-button{
    background-color: var(--card-color);
    color: var(--text-color);
} */

.btn-custom{
    background-color: var(--primary-color);
    color: white;
}

.cls_letter_spacing{
    letter-spacing: 2px;
}

#Brand{
    font-size: 100px;
}